:root {
    --light: #d45b13;
    --dark: #28292c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.toggle-switch {
    position: relative;
    width: 62px;
    height: 22px;
}

label {
    position: absolute;
    width: 62px;
    height: 22px;
    background-color: var(--dark);
    border-radius: 20px;
    cursor: pointer;
}

input {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 62px;
    height: 22px;
    border-radius: 20px;
    transition: 0.3s;
}

input:checked~.slider {
    background-color: var(--light);
}

.slider::before {
    content: '';
    position: absolute;
    height: 1.2em;
    width: 1.2em;
    left: 0.25em;
    bottom: 0.1em;
    border-radius: 50%;
    box-shadow: inset 28px -4px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
}

input:checked~.slider::before {
    transform: translateX(2.2em);
    background-color: var(--dark);
    box-shadow: none;
}

.switch .text {
    position: absolute;
    top: 50%;
    pointer-events: none;
    text-transform: capitalize;
    transform: translateY(-50%);
    transition: 0.4s;
    width: 10px;
}

.switch .text.online {
    color: #fff;
    left: 0.3rem;
    transform: translateX(-3rem) translateY(-50%);
    font-size: 10px;
}

.switch .text.offline {
    color: #fff;
    right: 1.7rem;
    font-size: 10px;
}

input:checked~.text.offline {
    transform: translateX(3rem) translateY(-50%);
}

input:checked~.text.online {
    transform: translateX(0) translateY(-50%);
}