.active {
  color: #f7fafc !important;
  background-color: #2d3748 !important;
}

.disabled {
  opacity: 0.5 !important;
}

.next {
  border-left: solid 1px #808e9b;
  font-size: 4px;
  height: 60px;
  position: absolute;
  right: 0;
  width: 150px;
}

.pagination {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 1000px;
  gap: 9px;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  border-right: solid 1px #808e9b;
  font-size: 4px;
  height: 60px;
  left: 0;
  position: absolute;
  width: 150px;
}

.page-item {
  height: 24px;
  width: 24px;
  background: #e2e8f0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d3748;
  gap: 100px;
  opacity: 1;
}

.page-link {
  font-size: 14px;
  font-weight: bold;
  display: flex;
}

.arrowImg {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.arrowImg:active {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
