@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  font-size: 16px;
  padding: auto;
  border-radius: 4px;
  background-color: #ccc;
}

p {
  padding: 0px;
}

.button {
  font-size: 16px;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  width: fit-content;
  /* margin-left: 750px */
}

.button.online {
  color: orange;
  border-radius: 20px;
  border: 2px solid orange;
}

.button.offline {
  color: white;
  background-color: black;
  border: 2px solid black;
  border-radius: 20px;
}

.body {
  display: flex;
  margin: -8px;
  margin-left: auto;
}

.icon-person {
  font-size: 32px;
  /* margin-left: 70px;
    margin-top: 3px; */
}
.icon-folder {
  font-size: 32px;
  /* margin-left:80px;
    margin-top: 3px; */
}

#badge-dismiss-dark {
  width: 90px;
  height: 28px;
  color: #fff;
  font-size: 17px;
  background-color: #2d3748;
  border-radius: 20px;
  gap: 0;
  padding-left: 15px;
  display: flex;
  padding: 18px 23px;
  margin: 1.5px;
}
.bad-2 {
  font-size: 20px;
  color: black;
  padding-top: 10px;
}

.bad-1,
.bad-2,
.button,
.icon-person,
.icon-folder {
  margin-right: 50px;
}
